@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
//Colors
$bgColor: #222222;
$primary: #ec2427;
$secondary: #161616;
$fontColor: #fff;
$lightGray: #676562;
$darkGray: #222;
//Fonts

$secondaryFont: "Lobster", sans-serif;
