/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 
Medium: 
Semi-bold: 
Bold: 

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 
Large: 

- Letter spacing



--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys



--- 05 SHADOWS



--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Serif:wght@400;500;700;800&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #faf7f2;
  overflow-x: hidden;
}
/*####################
###REUSABLE CLASES###
####################*/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/*####################
###NAVBAR###
####################*/
.nav-wraper {
  background-color: #161616;
  position: relative;
  height: 9rem;
  z-index: 9999;
  transition: all ease-in-out 1s;
  border-bottom: #842a2c8f solid 2px;
}
.nav-logo img {
  height: 100%;
  cursor: pointer;
}
header {
  width: 100%;
  display: flex;
  height: 8.6rem;
  justify-content: space-between;
  background-color: #161616;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-links a {
  color: #fff;
  font-family: inherit;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.nav-links a:hover {
  color: #ec2427;
  transition: all ease 500ms;
}
.nav-basket {
  padding: 1rem;
  z-index: 999;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 5px;
  background-color: #ec2427;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  cursor: pointer;
}

.nav-basket:hover,
.nav-basket:active,
.nav-basket:focus {
  box-shadow: 0 0 20px rgb(236, 36, 39);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.basket-svg {
  display: flex;
  align-items: center;
}
.nav-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.sticky {
  position: fixed;
  top: -15%;
  left: 0;
  right: 0;
  transition: all ease-in-out 600ms;
}
.sticky-slide {
  top: 0% !important;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 600ms;
}
/*####################
###NAV FULL SCREEn###
####################*/
.nav-sm {
  position: fixed;
  height: 100%;
  width: 60%;
  right: 0;
  top: 0;
  display: flex;
  background-color: #161616;
  align-items: center;
  justify-content: center;
  border-left: #ec2427 solid 2px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  z-index: 999;
  transition: 1s;
}

.hidden {
  transition: 1s;
  right: -70%;
}

.sm-link-con {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.sm-link a {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.sm-link a:hover {
  color: #ec2427;
  transition: all ease 500ms;
}
.basket-link > .nav-basket {
  display: inline-block;
}
.basket-link {
  display: flex;
}

/*####################
###CARD COMPONET###
####################*/
.card-img img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  gap: 1rem;
  max-width: 23rem;
  position: relative;
  border-radius: 25px 25px 0 0;
}
.grow-anim {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.grow-anim:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* .arrow {
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 5px;
  background-color: #ec2427;
  border-radius: 222px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.arrow:hover,
.arrow:focus,
.arrow:active {
  box-shadow: 0 0 20px rgb(236, 36, 39);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */
.card-details {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #222222;
}
.card-heading h5 {
  font-size: 2rem;
  display: flex;

  color: #fff;
}
.card-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.info-alerg-box {
  color: #fff;
  font-weight: 700;
}
.info-alerg-box {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-shrink: 0;
  background-color: #ec2427;
  border-radius: 50%;
  cursor: pointer;
}

.alerg-active {
  background-color: #222222;
  color: #ec2427;
  border: 2px solid #ec2427;
}
.card-ing p {
  font-size: 1.4rem;
  color: #676562;
  font-weight: 600;
  margin-left: 1rem;
}
.card-button-con h5 {
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
  position: relative;
}
.card-button-con {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.card-price {
  background-color: #ec2427;
  padding: 1rem;
}
.card-img {
  display: flex;
  position: relative;
}
.button-card {
  background-color: #ec2427;
  padding: 1rem;
  border-radius: 25px 0 0 0;
}
.button-price {
  padding: 1rem;
}
.alerg-overlap {
  height: 100%;
  width: 100%;
  background-color: #0000008b;
  z-index: 999;
  position: absolute;
  border-radius: 25px 25px 0 0;
  transition: 1s ease;
  opacity: 0;
}
.alerg-visible {
  opacity: 1;
}
/*####################
###ARROW COMPONET###
####################*/

.arrow {
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 5px;
  background-color: #ec2427;
  border-radius: 222px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.arrow:hover,
.arrow:focus,
.arrow:active {
  box-shadow: 0 0 20px rgb(236, 36, 39);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.arrow-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
/*####################
###BUTTON HOVER STYLE###
####################*/

.btn button {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn button:hover,
.btn button:active,
.btn button:focus {
  box-shadow: 0 0 20px rgb(236, 36, 39);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*####################
###FIGURE COMPONENT###
####################*/
figure {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}
figcaption p {
  color: #b8afaf;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: inherit;
}
figcaption {
  display: flex;
  align-items: center;
}
.about-img-box {
  height: 100%;
}

.about-figure-con {
  display: flex;
  justify-content: space-between;
}
/*####################
###FIGURE COMPONENT###
####################*/

.figure--img {
  width: 35rem;
  height: auto;
  position: relative;
  display: inline-block;
}
.figure-img {
  position: relative;
}
.figure-img::before {
  background-color: rgba(236, 36, 39, 0.714);
  content: "";
  width: 35rem;
  height: 35rem;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 0;
}
/*####################
###MENU HEADER COMPONENT###
####################*/
.menu-header h3 {
  font-family: "Lobster", sans-serif;
  font-size: 3.2rem;
  color: #ec2427;
  font-weight: 400;
  text-align: center;
}
/*####################
###MENU SELECTION COMPONENT###
####################*/
.menu-selection-con button {
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: capitalize;
  border: none;
  background: none;
  font-weight: 700;
  padding: 1rem 1.2rem;
  border-radius: 5.6rem;
  text-align: center;
  background-color: #222222;
  color: #fff;
  border: solid 2px #ec2427;
}
.menu-selection-con--sm button {
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: capitalize;
  border: none;
  background: none;
  font-weight: 700;
  padding: 1rem 1.2rem;
  border-radius: 5.6rem;
  text-align: center;
  background-color: #222222;
  color: #fff;
  border: solid 2px #ec2427;
}
/*####################
###MENU LINEBREAK COMPONENT###
####################*/
.menu-linebreak {
  background: #ec2427;
  height: 0.2rem;
  width: 90%;
}
.menu-linebreak-con {
  display: flex;
  justify-content: center;
}
/*####################
###MENU CARD COMPONENT###
####################*/
.plus-button {
  background: #ec2427;
  border-radius: 4rem;
  position: absolute;
  padding: 0.4rem;
  left: 85%;
  top: 90%;
}
/*####################
###MENU BASKET SUMMARY CARD COMPONENT###
####################*/
.summary-card-con {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.summary-img img {
  height: 8.6rem;
  width: auto;
  border-radius: 25px 0 0 25px;
}

.summary-item-name p {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.summary-item-name {
  display: flex;
  justify-content: space-between;
}
.delete-icon:hover {
  cursor: pointer;
}
.delete-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid #ec2427;
}
.delete-icon .delete-icon .item-quantity p {
  font-size: 1.2rem;
  border: 1px solid #b8afaf;
  padding: 0.2rem;
}
.summary-data {
  display: flex;
  justify-content: space-between;
}
.item-price p {
  font-size: 2rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
}
.item-price {
  display: flex;
  flex-direction: column-reverse;
}
.summary-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
  padding-left: 0;
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background-color: #ec2427;
  padding: 0.2rem;
  border-radius: 12px;
}
.count-qty p {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  color: #fff;
}
.count-qty {
  padding: 0 1rem;
}
.svg-qty-plus,
.svg-qty-minus {
  background-color: #161616;
  border-radius: 50%;
  padding: 0.2rem;
}
/*####################
###DELIVERY DETAILS COMPONENT###
####################*/
.delivery-con {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.delivery-det-con {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.delivery-header-con h1 {
  font-family: "Lobster", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  color: #ec2427;
}
.contact-det-header {
  font-family: inherit;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.delivery-det-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}
label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

input {
  border: none;
  background-color: #222222;
  padding: 0.4rem;
  border: solid 1px #ec2427;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.6rem;
}
.delivery-button-con {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.delivery-button-con button {
  margin-right: 6.4rem;
}
.delivery-input-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.second-input {
  display: flex;
  justify-content: flex-end;
}
/*####################
###CHECKOUT COMPONET###
####################*/
.checkout-con {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin: 6.4rem 0;
}
.checkout-header-con h1 {
  font-family: "Lobster", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  color: #ec2427;
}
.confirm-svg-con {
  background-color: #ec2427;
  display: inline-block;
  border-radius: 10rem;
}
.confirm-order-no p {
  font-weight: 600;
  color: #fff;
  font-size: 1.4rem;
}
.confirm-thanks {
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.confirm-thanks {
  color: #fff;
}
.checkout-confirm {
  display: flex;
  gap: 1rem;
}
.updates-heading h3 {
  font-size: 2rem;
  color: #fff;
}
.updates-info p {
  color: #fff;
  font-size: 1.4rem;
}
.checkout-updates {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.data-heading {
  font-size: 1.4rem;
  color: #fff;
}
.data-content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.data-content li {
  font-size: 1.4rem;
  color: #fff;
}
.checkout-contact-data,
.checkout-adress-data {
  display: flex;
  gap: 1.6rem;
}
/*####################
###OFFER CAROUSEL###
####################*/
.carousel-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.slick-slider svg {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  z-index: 998;
}
.slick-slider svg:hover {
  box-shadow: 0 0 20px rgb(236, 36, 39);
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
.slick-slider {
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
}
