/* 1rem = 1em = 16px*/

/*#################################
### SMALL LAPTOPS BELOW 1195px####
###################################*/
@media (max-width: 75em) {
  html {
    font-size: 56%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 1056px####
###################################*/
@media (max-width: 66.5em) {
  html {
    font-size: 50%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 957px####
###################################*/
@media (max-width: 60em) {
  html {
    font-size: 43.75%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 832px####
###################################*/
@media (max-width: 52em) {
  html {
    font-size: 41.75%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 784px####
###################################*/
@media (max-width: 50em) {
  html {
    font-size: 56%;
  }
  .home-content {
    grid-template-columns: 1fr;
    column-gap: 1.2rem;
  }
  .home-slogan-content {
    text-align: center;
  }
  .small-slogan {
    justify-content: center;
  }
  .home-img {
    display: none;
  }
  .arrow > a > svg {
    width: 42px;
    height: 42px;
  }
  .offer-card-container {
    display: none;
  }
  .contact-content-con {
    grid-template-columns: 1fr;

    row-gap: 4.8rem;
  }
  .adress-box {
    top: -110%;
    right: 10%;
    width: 30%;
  }
  .footer-info-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    align-items: center;
  }
  .footer-logo-con img {
    width: 50%;
    margin-bottom: 3rem;
  }
  .footer-logo-con {
    display: flex;
    justify-content: center;
  }
  .footer-about-info,
  .footer-menu-con,
  .footer-logo-con,
  .footer-nav-con {
    align-self: center;
    align-items: center;
  }
  .footer-about-disc {
    padding-left: 10%;
  }
  figure,
  figure:nth-child(2) {
    flex-direction: column-reverse;
  }
  .figure-img::before {
    left: 10px;
    top: -10px;
  }
  .about-content-con {
    gap: 3.6rem;
  }
  .basket-con {
    position: fixed;
    width: 60%;
    height: 80%;
    right: -70%;
    transition: all ease-in-out 600ms;
    border: 1px solid #ec2427;
    border-radius: 25px 0 0 25px;
    z-index: 9999;
    padding: 2rem;
  }
  .basket-con-slide {
    right: 0 !important;
  }
  .menu {
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    font-size: 30%;
  }
  .basket-slide-icon {
    display: block;
    cursor: pointer;
    position: fixed;
    transition: all ease-in-out 600ms;
  }
  .basket-slide-icon-slide {
    right: 60%;
    transition: all ease-in-out 600ms;
    display: block;
  }

  .card-details {
    gap: 2rem;
  }
  .card {
    max-width: 23rem;
  }
  .card-button-con h5 {
    text-align: center;
    font-size: 1.7rem;
  }
  .menu-selection-con--sm {
    display: flex;
  }
  .menu-selection-con {
    display: none;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .menu-selection-con--sm button {
    font-size: 2rem;
  }
  .slick-list {
    margin: 0 20px;
  }
}
/*#################################
### Adress box bug-fix 700px####
###################################*/
@media (max-width: 43.75em) {
  .adress-box {
    display: none;
  }
  .menu-selection-con--sm {
    display: flex;
  }
  .menu-selection-con {
    display: none;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 650px####
###################################*/
@media (max-width: 40.6em) {
  .nav-links {
    display: none;
  }
  html {
    font-size: 54%;
  }
}
@media (min-width: 40.6em) {
  .nav-sm {
    display: none;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 560px####
###################################*/
@media (max-width: 35em) {
  html {
    font-size: 50%;
  }
  .hidden {
    transition: 1s;
    right: -80%;
  }
  .basket-con {
    position: fixed;
    width: 65%;
    z-index: 999;
  }
  .basket-slide-icon-slide {
    right: 65%;
  }
}
/*#################################
### CARD ADJUSTMENT 470px####
###################################*/
@media (max-width: 29.37em) {
  .card-heading h5 {
    font-size: 1.6rem;
    display: flex;
    color: #fff;
  }
  .card-ing p {
    font-size: 1.2rem;
    color: #676562;
    font-weight: 600;
    margin-left: 1rem;
}
.card-button-con h5 {
  text-align: center;
  font-size: 1.4rem;
}
.card-details {
  gap: 0.7rem;
}
.card-img img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}
.card {
  max-width: 19rem;
}
/*#################################
### CARD ADJUSTMENT 400px####
###################################*/
@media (max-width: 25.05em) {
  .card-heading h5 {
    font-size: 1.5rem;
    display: flex;
    color: #fff;
  }
  .card-ing p {
    font-size: 1.1rem;
    color: #676562;
    font-weight: 600;
    margin-left: 1rem;
}
.card-button-con h5 {
  text-align: center;
  font-size: 1rem;
}
.card-details {
  gap: 0.7rem;
}
.card-img img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}
.card {
  max-width: 15rem;
}
/*#################################
### SMALL LAPTOPS BELOW 450px####
###################################*/
@media (max-width: 28.12em) {
  .footer-about-disc {
    padding-left: 0;
  }
  .offer-sub-heading {
    font-size: 1.2rem;
  }
  .heading h2 {
    font-size: 2.6rem;
  }
  .contact-heading h1 {
    font-size: 5.6rem;
  }
  .about-heading {
    font-size: 1.4rem;
  }
  .footer-about-disc p {
    padding: 0;
  }
  .footer-about-info {
    margin-bottom: 3rem;
  }
  .footer-info-con {
    column-gap: 2rem;
  }
  .nav-sm {
    width: 70%;
  }
  .checkout-header-con {
    display: flex;
    justify-content: center;
  }
  .delivery-button-con {
    justify-content: center;
  }
  .basket-con {
    width: 75%;
    right: -75%;
  }
  .basket-slide-icon-slide {
    right: 75%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 300px####
###################################*/
@media (max-width: 18.75em) {
  .nav-sm {
    width: 90%;
  }
  .hidden {
    transition: 1s;
    right: -90%;
  }
}
/*#################################
### SMALL LAPTOPS BELOW 350px####
###################################*/
@media (max-width: 21.87em) {
  html {
    font-size: 42.2%;
  }
}
